* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* grid area */
.g-container {
	display: grid;
	grid-template-columns: minmax(150px,250px) 1fr;
	grid-template-rows: minmax(30px, 60px) 1fr minmax(80px, 100px);
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		'g-header g-header'
		'g-aside g-main'
		'g-footer g-footer';
	height: 100vh;
	width: 100vw;
}

.g-header {
	grid-area: g-header;
}

.g-aside {
	grid-area: g-aside;
}

.g-main {
	grid-area: g-main;
}

.g-footer {
	grid-area: g-footer;
}